.main-project {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 6vh;
    height: 15vh;
    width: 100%;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 20px #ff0000;
    z-index: 4;
    position: absolute;
    letter-spacing: 2px;
}

.project-head h2 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 5.3rem;
}

.project-head::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff0000;
    filter: blur(15px);
}

.project-head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 40%;
    height: 100%;
    background: #fe3a3a;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
}

.card{
    margin-top: 15rem !important;
    box-shadow: -5px -4px 9px 2px rgb(31 31 31 / 60%), 5px 6px 8px rgb(104 132 157 / 23%);
    color: #ffffff;
    text-shadow: 0 0 10px #ff0000d7;
    /* background: #ffffff30; */
    background: linear-gradient(to right,#ff00002c, #000000, #ff00002a, #000000);
}
.card:hover {
    transform: scale(1.05);
}
.card-link{
    text-decoration: none;
}
.for-child:nth-child(1){
    animation: slide-in 2s;
    animation-timing-function: linear;
}
.for-child:nth-child(2){
    animation: slide-bot 2s;
    animation-timing-function: linear;
}
.for-child:nth-child(3){
    animation: slide-out 2s;
    animation-timing-function: linear;
}
.card-title{
    color: #ff0000;
    text-shadow: 0 0 10px #ffffffd7;
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0.10;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
}

@keyframes slide-bot {
    from {
      transform: translateY(+100%);
      opacity: 0.10;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
}
@keyframes slide-out {
    from {
      transform: translateX(+100%);
      opacity: 0.10;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .project-head h2 {
        font-size: 4.3rem;
    }
}
@media only screen and (max-width: 767px) {
    .card{
        margin-top: 2.5rem !important;
    }
    .for-child{
        margin-top: 0rem !important;
    }
    .for-child:nth-child(1){
        margin-top: 12rem !important;
    }
    .for-child:nth-child(2){
        animation: slide-out 2s;
        animation-timing-function: linear;
    }
    .for-child:nth-child(3){
        animation: slide-in 2s;
        animation-timing-function: linear;
    }
}

@media only screen and (max-width: 665px) {
    .project-head h2 {
        font-size: 4.3rem;
    }
}

@media only screen and (max-width: 515px) {}

@media only screen and (max-width: 500px) {
    .project-head h2 {
        font-size: 3.3rem;
    }

}

@media only screen and (max-width: 460px) {}

@media only screen and (max-width: 353px) {
    .project-head h2 {
        font-size: 2.3rem;
    }

}

@media only screen and (max-width: 310px) {
    .project-head h2 {
        font-size: 2.3rem;
    }
}