.main-contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 6vh;
    height: 15vh;
    width: 100%;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 20px #ff0000;
    z-index: 4;
    position: absolute;
    letter-spacing: 2px;
}

.contact-head h2 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 5.3rem;
}

.contact-head::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff0000;
    filter: blur(15px);
}

.contact-head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 40%;
    height: 100%;
    background: #fe3a3a;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
}

.card {
    margin:0 auto;
    text-shadow: 0 0 10px #ff0000d7;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    background: linear-gradient(to right, #ff00002c, #000000, #ff00002a, #000000);
}

.for-children {
    margin: 0rem 0rem 5rem 0rem;
    /* margin-top: 15rem; */
    /* border: 2px solid white; */
    animation: slide-bot 2s;
    animation-timing-function: linear;
}

.card-header {
    color: #ffffff;
    background: #fe3a3acc;
}

.card-title {
    color: #ffffff;
}

.card-footer {
    color: #ffffff !important;
    background: #fe3a3acc;
    font-size: 2rem !important;
    display: flex;
    justify-content: space-around;
}
.card-footer a{
    color: #ffffff;
    /* margin: 2rem; */
}

.card-footer i {
    color: #ffffff !important;
    /* margin-right: 10px; */
}
.card-text span{
    margin: 0 1.5rem;
    color: #fe3a3a;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.10;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-bot {
    from {
        transform: translateY(+100%);
        opacity: 0.10;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(+100%);
        opacity: 0.10;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@media only screen and (max-width: 900px) {
    .contact-head h2 {
        font-size: 4.3rem;
    }
}
@media only screen and (max-width: 767px) {
    .for-children {
        margin: 10rem 0rem 5rem 0rem;
    }
}
@media only screen and (max-width: 665px) {
    .contact-head h2 {
        font-size: 4.3rem;
    }
}

@media only screen and (max-width: 515px) {}

@media only screen and (max-width: 500px) {
    .contact-head h2 {
        font-size: 3.3rem;
    }

}

@media only screen and (max-width: 460px) {
    .card-text span{
        margin: 0 0.5rem;
    }
}

@media only screen and (max-width: 353px) {
    .contact-head h2 {
        font-size: 2.3rem;
    }

}

@media only screen and (max-width: 310px) {
    .contact-head h2 {
        font-size: 2.3rem;
    }
}